img { 
    border-radius: 50%; /* Makes the icon circular */
    border: 2px solid #000; /* Adds a border */
    width: 150px; /* Adjust size */
    height: 150px;
}

h1 {
    color : gold;

}



button:hover {
    background-color: darkgreen;
}


